@CHARSET "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

body { 
    background: url("../images/body-bg.png") repeat scroll left top #F4F5FC;
    /*background-color: #e2e2e2;*/
    color:#444; font:100%/1 Arial, Helvetica, sans-serif; 
}

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    *width: 600px;
    background-color:#fff;
    overflow: auto;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
    /*-webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;*/
    -moz-box-shadow: 0 1px 5px rgba(78, 123, 163, 0.22);
    -webkit-box-shadow: 0 1px 5px rgba(78, 123, 163, 0.22);
    box-shadow: 0 1px 5px rgba(78, 123, 163, 0.22);
    /*border: 2px solid #777;*/
    border-top: 0;
    behavior: url(PIE.htc);
}

.cp {
    cursor: pointer;
}

a {
    color: #000;
}

.header, .content {
    /*margin: 5px;*/
    width: 100%;
    clear: both;
    /*float: left;*/
}

.header {
    /*height: 2.2em;*/
    margin-bottom: 5px;
}

h1 { 
    font-size: 300%;
    /*font-family: Georgia,"Bitstream Charter","Century Schoolbook L","Liberation Serif",Times,serif;*/
    font-weight: bold; 
    /*position: relative;
    padding-bottom: 0.1em;
    right: 100px;*/
    color: #6690CB;
}

#loading {
    width: 150px;
    height: 23px;
    background: url("../images/loading.gif") no-repeat;
}

h2 { 
    font-size: 150%;
    margin-bottom: 5px;     
    /*position: relative;
    padding-bottom: 0.1em;
    right: 100px;*/
    color: #6690CB;
}

#mainPanel {
    margin: 0 10px 10px 0;
}
 
#pasteDialog {
    display: none;
}
 
#pasteDialog textarea {
    width: 100%;
} 
.panel {
    display: none;
    clear: both;
    margin: 0 10px 10px 0;
    line-height: 1.1;
}

.panel td, .panel th {
    padding: 3px;
    border: 1px solid #A6C9E2;
    vertical-align: top;
}

.panel th {
    font-weight: bold;
    text-align: center;
}

.panel table {
    border-collapse: collapse;
    border: 1px solid #A6C9E2;
}

.panel p {
    padding-bottom: 3px;
}

#helpPanel table {
    /*width: 200px;*/
}

.buttons {
    margin: 10px 0;
}

.button {
    *width: 150px;
}

.smallButtons {
    margin: 10px 0;
    font-size: 60%;    
}

.inline {
    /*float: left; margin-right: 10px;*/
    display: inline-block;
    *display: inline;
}

ul,
ol {
    padding: 0 0 0 20px;
}

.panel li {
    line-height: 1.2;
    /*padding: 3px 0 3px 0;*/
}

.footer small {
    font-size: 70%;
}

.yashare-auto-init {
    margin-left: -6px;
}

#disqusPanel {
    min-height: 50px;
}
